extends layout

block content
    form(action="/seed" method="post" enctype="multipart/form-data")
        label(for='rows')= "Select number of rows: "
        input(type="number", name="rows")
        br
        label(for='filename')= "Select name of file(without extension): "
        input(type="text", name="filename")
        input(type="submit" value="Upload")