body {
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
}

td {
  border: solid 1px;
}

.bg-gray {
  background-color: gray;
}

.margin-auto {
  margin: auto;
}
.padding-top {
  padding-top: 100px;
}
.margin-spinner {
  margin-top: 25px;
  margin-left: 25px;
}
.text-white {
  color: white;
}