body {
  width: 70%;
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table {
  margin-top: 100px;
  border-collapse: collapse;
  margin-bottom: 100px;
}

td {
  border: solid 1px;
}