body {
  width: 70%;
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
}

a{
  display: inline-block;
  padding: 14px 16px;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}

td {
  border: solid 1px;
}

.bg-gray {
  background-color: gray;
}

.margin-auto {
  margin: auto;
}
.padding-top {
  padding-top: 100px;
}